/* Docs */
.docs-main a {
	transition: font-size 0.4s ease;
}

.docs-main h3 {
	margin: 20px 0px;
}

.docs-main .grid {
	grid-template-columns: 1fr 2fr;
	align-items: flex-start;
}

.docs-main nav li {
	font-size: 17px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

.docs-main a:hover {
	font-weight: bold;
	font-size: 17.3px;
}
